<nav>
    <ul id="menu">
        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
        <li>@Html.ActionLink("Peliculas", "Index", "Movies")</li>
        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
    </ul>
</nav>
